*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: #404040;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

a{
    color: snow;
    text-decoration: none;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

li{
    font-size: 1.4rem;
    text-align: center;
}

@media only screen and (max-width: 480px){

    nav{
        height: 10rem;
    }

    ul{
        display: block;
    }



}