:root {
	--body_background: #c0cbdc;
	--header_background: #85b1c4;

	--header_h1: #000000;
	--header_nav: #000000;

	--main-center: #c0cbdc ;
	--main-color: #000000;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.center{
	background-color: var(--main-center);
	
}

body{
	background-color: var(--body_background);
	background-image: url("../images/path.png");
	background-size: 100vw auto;
}

header {
	background-color: var(--header_background);
	
}

header > h1{
	font-size: 4rem;
	color: var(--header_h1);
	text-align: Center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    font-size: 1.4rem;
    text-align: center;
}

li a{
	color: var(--header_nav);
	font-size: 24px;
	width: fit-content;
	text-decoration: none;
}

a{
	color: var(--header_nav);
	display:inline-block;
	width: fit-content;
}


main{
	top: 131px;
	display: flex;
    justify-content: center;
	color: var(--main-color);
}

.center{
	padding: 10px;
}

.location{
    display: flex;
}




@media only screen and (min-width: 480px){

	

	header{
		position: sticky;
		top: 0px;
	}

	nav{
		height: 3rem;
	}

	ul{
		gap: 2rem;
	}

	a{
		display:inline-block;
		padding: 5px 10px;
		margin: 4px;
	}

	.center{
		width: 850px;
	}

	.Meeples{
		margin: 0px 20px;
		width: 48px;
		height: 48px;
	}

	.maplocation{
		margin: 0px 10px;
		min-width: 400px; 
		height: 400px;
		float: right;
	}
	.Feedback{
		position: relative;
		Top: -175px;
	}
}

@media only screen and (max-width: 480px){
	
	.location{
		flex-direction: column;
	}

    nav{
        height: max-content;
		min-width: 100vw;
		max-width: 100vw;
		height: auto;
    }

    nav > ul{
        display: flex;
		flex-wrap: wrap;
		justify-content: center;
    }

	nav li{
		margin: 1rem;
		min-width: fit-content;
	}

	.center{
		width: 100%;
	}

    .Meeples{
		display: none;
	}

	.maplocation{
		margin: 20px 10px;
		min-width: 200px; 
		height: 200px;
	}

}
