@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
	--body_background_color: #fff8dc;

	--header_background_color: #fff8dc;

	--title_txt_color: #6495ed;

	--main_background_color: #6495ed;

	--global_txt_color: #000000;

	--button_color: #6495ed;

	--left_margin: auto;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: var(--global_txt_color);
}

.bold{
	font-weight: bold;
}

.left{
	margin-left: 40px;
}

.vert{
	margin: 10px 0px 10px;
}

.below{
	margin-bottom: 10px;
}



.theme_1{
	--body_background_color: #fff8dc;

	--header_background_color: #fff8dc;

	--title_txt_color: #6495ed;

	--main_background_color: #6495ed;

	--global_txt_color: #000000;

	--button_color: #6495ed;
}


.dark-mode {
	--body_background_color: #2d2b26;

	--header_background_color: #2d2b26;

	--title_txt_color: #1755c4;

	--main_background_color: #1755c4;

	--global_txt_color: #000000;

	--button_color: #1755c4;
}

.themelabelbutton{
	width: 2rem;
	Height: auto;
}

.invischeckbox{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	Height: 0px;
	visibility: 0;
}

.sidebarlabel{
	left: 100%;
	position: absolute;
}

.sidebarlabelbutton{
	width: 58px;
	Height: 58px;
}

.aside_box{
	background-color: var(--main_background_color);
	min-width: calc(100% - 40px);
	overflow: auto;
}

#aside_h1{
	font-family: "Press Start 2P", system-ui;
	font-size: 6vmin;
	text-align: center;
	padding-top: 1rem;
	margin: 0px auto 4rem;
	color: var(--body_background_color);
	height: auto;
	text-decoration: underline;
}

#themes_aside{
	font-family: "Press Start 2P", system-ui;
	font-size: 4vmin;
	text-align: center;
	color: var(--body_background_color);
	height: auto;
}

.flex_center{ /* Only in 2_tables */
	display: flex;
	justify-content: center;
}

.flex_center  li{ /* Only in 2_tables */
	display: inline;
	margin: 0px 10px;

}

.main_content {
	flex: auto;
	max-width: 1170px;
	background-color: var(--main_background_color);
	position: relative;
	top: -80px;
	border-radius: 1rem;
	box-shadow: 0 0 20px rgb(0, 0, 0, 50%);
	margin-right: auto;
}

.main_content > section {
	padding: 25px;
}

body{
	background-color: var(--body_background_color);
	display: flex;
}

aside{
	position: relative;
	display: flex;
	width: 25%;
	height: 100vh;
	left: 0px;
}

input[type=checkbox]:checked ~ .aside_box{
	display: none;
}



input[type=checkbox]:checked ~ label{

}



header{
	background-color: var(--header_background_color);
	max-width: 1170px;
}

header > h1 {
	font-family: "Press Start 2P", system-ui;
	font-size: 4rem;
	text-align: center;
	margin: 10px auto 60px;
	max-width: 1170px;
	/* max-width: 1170px;
	min-width:700px; */
	color: var(--title_txt_color);
}

header > nav {
	margin-bottom: 100px;
	max-width: 1170;
}

li {
	display: inline;
}

main {
	display: inline-block;
	overflow: auto;
}

h2 {
	font-family: "Press Start 2P", system-ui;
	display:block;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 10px;
}

img{
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table{
	margin: 0px auto;
}

nav {
	display: flex;
	margin: auto;
}

a{
	font-family: "Press Start 2P", system-ui;
	border-radius: 25px;
	background: var(--button_color);
	padding: 5px 10px;
	margin: 4px;
	font-size: 24px;
	display:inline-block;
	width: fit-content;
	text-decoration: none;
}