body {
	background-color: #323232;
}
header{
	
	border-radius: 25px;
	background: #2C7E73;
	color: white;
	text-align: center;
	width: fit-content;
	padding: 0px 5px;
	font-size: 3rem;
}
header > h1{
	margin: 0;
}
section, address{
	background: #1B524B;
	color: white;
	border-radius: 25px;
	width: fit-content;
	max-width: 800px;
	padding: 0px 20px;
}


a{
	border-radius: 25px;
	background: #6F6F6F;
	text-indent: 25px;
	padding: 0px 5px;
	text-decoration: none;
	color: white;
}

